.field_edit input[type=text]{
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: width 0.4s ease-in-out;
}

.field_edit input[type=text]:focus {
  width: 70%;
  background-color: #ADD8E6;
  color: black;
}

.field_select {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: width 0.4s ease-in-out;
}

.field_select:focus {
  width: 70%;
  background-color: #ADD8E6;
  color: black;
}
